body {
    width: 800px;
    margin: auto;
}

.text {
    font-family: BlinkMacSystemFont,-apple-system,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
}

.title {
    font-size: 48px;
    text-align: center;
    color: darkred;
}

.data {
    display: flex;
}

.data__label {
    margin-right: 10px;

    font-size: 16px;
}

.data__input-container {
    position: relative;
    flex-grow: 1;
}

.data__input {
    box-sizing: border-box;
    width: 100%;
    border-radius: 10px;
    border: 1px solid gray;
    outline: none;

    font-size: 13px;
    padding: 5px 24px 5px 5px;
}

.data__search {
    position: absolute;
    right: 0;
    top: 0;

    width: 27px;
    height: 27px;

    border: none;
    outline: none;

    background: url(img/magnifier-tool.svg) no-repeat center;
    background-size: 18px 18px;
    cursor: pointer;
}

.field {
    box-sizing: border-box;
    margin-top: 40px;
    text-align: center;
}

.field__error {
    color: darkred;
    font-size: 16px;
}

.field__container {
    display: inline-block;
}

.field__row {
    box-sizing: border-box;
    line-height: 0;
    white-space: nowrap;
}

.field__cell {
    display: inline-block;
    box-sizing: border-box;
    line-height: 0;
    vertical-align: top;
}

.field__empty-cell {
    box-sizing: border-box;
    border: 1px solid black;
}

.loader {
    margin-top: 40px;
    text-align: center;
}

.loader__dot-container {
    display: inline-block;
    text-align: center;

    width: 30px;
    height: 30px;
    line-height: 30px;
}

.loader__dot {
    display: inline-block;
    vertical-align: middle;

    width: 30px;
    height: 30px;
    background: #999;
    border-radius: 50%;
}

.loader__dot-container:nth-child(1) .loader__dot {
    animation: blink .4s infinite alternate linear;
}

.loader__dot-container:nth-child(2) .loader__dot {
    animation: blink .4s infinite alternate linear .2s;
}

.loader__dot-container:nth-child(3) .loader__dot {
    animation: blink .4s infinite alternate linear .4s;
}

@keyframes blink {
    0% {
        background: #999;
        width: 30px;
        height: 30px;
    }

    100% {
        background: #ddd;
        width: 10px;
        height: 10px;
    }
}
